body {
  padding-top: 60px; /* skip navbar-fixed-top */
}
.post-date{
  float:right;
  padding:5px;
  font-size:12px;
}
img {
  max-width: 100%; 
  height: auto;
}
.carousel-inner > .item > img {
    margin: 0 auto;
    height: 300px;
}

/* bootstrip does not recognize markdown tables */
table {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-collapse: collapse;
}

td, th {
  padding-left:10px;
  padding-right:10px;
}

th {
  background-color: #F5F5F5;
}

.business-header {
    height: 400px;
    background: url('https://drive.google.com/uc?id=0B9Rxo-0B1VOecm1wMlg3aTVpVDQ') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}