<div class="footer container">
  <div class="row"><!-- row -->
    <div class="col-lg-3 col-md-3"><!-- widgets column left -->
      <ul class="list-unstyled clear-margins"><!-- widgets -->
	<li class="widget-container widget_nav_menu"><!-- widgets list -->
	  <h1 class="title-widget">GEMADARC</h1>
	  <ul>
	    <li><a  href="/news"><i class="fa fa-angle-double-right"></i> News</a></li>
	    <li><a  href="/science"><i class="fa fa-angle-double-right"></i> Science</a></li>
	    <li><a  href="/technology"><i class="fa fa-angle-double-right"></i> Technology</a></li>
	    <li><a  href="/collaboration"><i class="fa fa-angle-double-right"></i> Collaboration</a></li>
	    <li><a  href="/facility"><i class="fa fa-angle-double-right"></i> Facilities</a></li>
	    <li><a  href="/education"><i class="fa fa-angle-double-right"></i> Education</a></li>
	  </ul>
	</li>
      </ul>
    </div><!-- widgets column left end -->

    <div class="col-lg-3 col-md-3"><!-- widgets column left -->
      <ul class="list-unstyled clear-margins"><!-- widgets -->
	<li class="widget-container widget_nav_menu"><!-- widgets list -->
	  <h1 class="title-widget">Physics links</h1>
	  <ul>
	    <li><a  href="https://www.aps.org/"><i class="fa fa-angle-double-right"></i>  American Physical Society</a></li>
	    <li><a  href="https://www.aps.org/careers/employment/index.cfm"><i class="fa fa-angle-double-right"></i>  Physics Jobs</a></li>
	    <li><a  href="https://arxiv.org/archive/physics"><i class="fa fa-angle-double-right"></i>  Arxive Physics</a></li>
	    <li><a  href="https://www.khanacademy.org/science/physics"><i class="fa fa-angle-double-right"></i>  Learn Physics</a></li>
	    <li><a  href="https://www.nobelprize.org/nobel_prizes/physics/laureates/"><i class="fa fa-angle-double-right"></i> Nobel Prizes in Physics</a></li>
	  </ul>
	</li>
      </ul>
    </div><!-- widgets column left end -->

    <div class="col-lg-3 col-md-3"><!-- widgets column left -->
      <ul class="list-unstyled clear-margins"><!-- widgets -->
	<li class="widget-container widget_nav_menu"><!-- widgets list -->
	  <h1 class="title-widget">NSF links</h1>
	  <ul>
	    <li><a href="https://www.nsf.gov/"><i class="fa fa-angle-double-right"></i> NSF Home</a></li>
	    <li><a href="https://www.nsf.gov/funding/pgm_list.jsp?type=nsfw"><i class="fa fa-angle-double-right"></i> Funding Opportunities</a></li>
	    <li><a href="https://www.nsf.gov/funding/pgm_summ.jsp?pims_id=505038"><i class="fa fa-angle-double-right"></i> PIRE</a></li>
	    <li><a href="https://www.nsf.gov/about/"><i class="fa fa-angle-double-right"></i> About NSF</a></li>
	    <li><a href="https://www.nsf.gov/about/research_areas.jsp"><i class="fa fa-angle-double-right"></i> Research Areas</a></li>
	  </ul>
	</li>
      </ul>
    </div><!-- widgets column left end -->

    <div class="col-lg-3 col-md-3"><!-- widgets column center -->
      <ul class="list-unstyled clear-margins"><!-- widgets -->
	<li class="widget-container widget_recent_news"><!-- widgets list -->
	  <h1 class="title-widget">Contact Details </h1>
	  <div class="footerp"> 
	    <p><b>Email:</b> <a href="mailto:physics@usd.edu">physics@usd.edu</a></p>
	    <p><b>Postal Address:</b></p>
	    <p>Department of Physics</p>
	    <p>Akeley-Lawrence Science Center</p>
	    <p>414 E. Clark St.</p>
	    <p>Vermillion, SD 57069</p>
	    <p><b>Phone: </b>605-677-5649 </p>
	  </div>
	</li>
      </ul>
    </div>
  </div>
</div>

<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	<div class="copyright">
	  © 2017 USD is governed by the Board of Regents of South Dakota
	</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	<div class="design">
	  <a href="http://usd.edu/physics">USD Physics</a> |
	  <a target="_blank" href="http://www.github.com">Designed and Hosted on Github</a>
	</div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
