</div><!-- col-md-8 -->
<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">About</div>
    <div class="panel-body">
      <p>PIRE-GEMADARC is a global partnership created to accelerate the germanium (Ge) material platform used in the R&D for ton-scale DM and 0νββ decay experiments while educating the next generation of scientists.</p>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Sponsors</div>
    <div class="panel-body">
      <ul>
	<li><a href="https://www.nsf.gov/funding/pgm_summ.jsp?pims_id=505038">NSF PIRE</a></li>
	<li><a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1506036">NSF Award #1506036</a></li>
	<li><a href="http://sanfordlab.org/article/1576">SD's physics doctoral program</a></li>
	<li><a href="https://www.sdbor.edu/services/academics/aac/documents/5_F_AAC0215.pdf"> STF - SD EPSCoR Partnership</a></li>
	<li><a href="http://sdspacegrant.sdsmt.edu/">NASA SD Space Grant</a></li>
	<li><a href="http://www.usd.edu/ctl">CTL MCI grant, USD</a></li>
	<li><a href="http://www.usd.edu/cage/on-campus-programs">CURCS Mini-Grant, USD</a></li>
	<li><a href="http://www.usd.edu/cage/on-campus-programs">U Discover Summer Scholar, USD</a></li>
      </ul>
    </div>
  </div>
</div>
</div><!-- row -->
</div><!-- container -->
</body>
</html>
