<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="description"
content="PIRE-GErmanium Materials And Detectors Advancement Research Consortium">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css"><!--extra tuning-->
<link rel="stylesheet" href="/syntax.css"><!--for syntax highlighting-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<title>{% if page.title %}{{ page.title }}{% else %}pire.gemadarc.org{% endif %}</title>
</head>

<body>
{% include navi.html %}
