<div class="container text-center">
<div class="row">
  <div class="col-md-3 col-sm-4">
    <img class="img-circle" src="https://upload.wikimedia.org/wikipedia/en/d/d9/University_of_South_Dakota_seal.png" alt="USD Logo" width="140" height="140">
  </div>
  
  <div class="col-md-3 col-sm-4">
    <img src="http://identity.unc.edu/files/2014/01/image25a.jpg" alt="UNC Logo" width="140" height="140">
  </div>

  <div class="col-md-3 col-sm-4">
    <img class="img-circle" src="http://miner.physics.tamu.edu/images/TAMU.png" alt="" width="140" height="140">
  </div>
  
  <div class="col-md-3 col-sm-4">
    <img src="http://www2.lbl.gov/msd/assets/img/about/lbl_logo2.png" alt="" width="140" height="130">
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-4">
    <img src="http://www.bhsu.edu/Portals/0/facultystaff/MarketingComm/logos/BHSU_RC%20Logo.jpg" alt="" width="140" height="140">
  </div>

  <div class="col-md-3 col-sm-4">
    <img src="https://university-relations.umn.edu/sites/university-relations.umn.edu/files/m-static_0.png" alt="" width="140" height="140">
  </div>

  <div class="col-md-3 col-sm-4">
    <img class="img-circle" src="https://upload.wikimedia.org/wikipedia/en/3/39/TexasTechSeal.svg" alt="Texas Tech Logo" width="140" height="140">
  </div>

  <div class="col-md-3 col-sm-4">
    <img src="http://www.queensu.ca/mc_administrator/sites/default/files/assets/pages/QueensLogo_colour.jpg" alt="" width="140" height="140">
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-4">
    <img class="img-circle" src="https://upload.wikimedia.org/wikipedia/en/e/ec/Tsinghua_University_Logo.svg" alt="Tsinghua logo" width="140" height="140">
  </div>

  <div class="col-md-3 col-sm-4">
    <img src="http://wwwth.mpp.mpg.de/conf/f-theory15/images/MPPoriginal.png" alt="" width="140" height="140">
  </div>

  <div class="col-md-3 col-sm-4">
    <img class="img-circle" src="http://www.phys.sinica.edu.tw/images/phys_logo.png" alt="" width="140" height="140">
  </div>
</div>
</div>