<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container"><!-- nav's own container -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#portals">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/tags"><span class="glyphicon glyphicon-search"></span></a>
      <a class="navbar-brand" href="/">PIRE-GEMADARC</a>
    </div>
    <div class="navbar-collapse collapse" id="portals">
      <ul class="nav navbar-nav navbar-right">
	<li><a href="/news">News</a></li>
	<li><a href="/science">Science</a></li>
	<li><a href="/collab">Collaboration</a></li>
	<li><a href="/facility">Facility</a></li>
	<li><a href="/scholarship">Scholarship</a></li>
	<li><a href="https://github.com/gemadarc">GitHub</a></li>
      </ul>
    </div>
  </div>
</nav>
