<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container"><!-- nav's own container -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#portals">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/tags"><span class="glyphicon glyphicon-search"></span></a>
      <a class="navbar-brand" href="/">PIRE-GEMADARC</a>
    </div>
    <div class="navbar-collapse collapse" id="portals">
      <ul class="nav navbar-nav navbar-right">
	<li><a href="/news">News</a></li>
	<li><a href="/science">Science</a></li>
	<li><a href="/collaboration">Collaboration</a></li>
	<li><a href="/facility">Facility</a></li>
	<li><a href="/education">Education</a></li>
	<li><a href="https://twitter.com/gemadarc"><i class="fab fa-twitter"></i></a></li>
	<li><a href="https://www.facebook.com/piregemadarc"><i class="fab fa-facebook"></i></a></li>
	<li><a href="https://www.instagram.com/piregemadarc"><i class="fab fa-instagram"></i></a></li>
	<li><a href="https://github.com/gemadarc"><i class="fab fa-github"></i></a></li>
	<li><a href="https://gather.town/app/WZfgCUIvpcAn0Wdy/mppmu">Gather</a></li>
      </ul>
    </div>
  </div>
</nav>
