---
---
<div class="jumbotron">
  <h1 class="text-center">Education</h1>
  <h3 class="text-center">Teaching, mentoring, oversea, scholarship and outreach</h3>
</div>

<div class="row">
  <div class="col-md-3">  
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a data-toggle="pill" href="#exploration">Exploration Series</a></li>
      <li><a data-toggle="pill" href="#statistics">Statistics</a></li>
      <li><a data-toggle="pill" href="#ai">Machine Learning</a></li>
      <li><a data-toggle="pill" href="#geant4">Hands-on Geant4 Simulation</a></li>
    </ul>
  </div>

  <div class="col-md-9">  
    <div class="tab-content">
      <div id="exploration" class="tab-pane fade in active">
	{% capture my_include %}{% include_relative exploration.md %}{% endcapture %}
	{{ my_include | markdownify }}
      </div>
      <div id="statistics" class="tab-pane fade">
	{% capture my_include %}{% include_relative statistics.md %}{% endcapture %}
	{{ my_include | markdownify }}
      </div>
      <div id="ai" class="tab-pane fade">
	{% capture my_include %}{% include_relative ai.md %}{% endcapture %}
	{{ my_include | markdownify }}
      </div>
      <div id="geant4" class="tab-pane fade">
	{% capture my_include %}{% include_relative geant4.md %}{% endcapture %}
	{{ my_include | markdownify }}
      </div>
    </div>
  </div>
</div>
