---
---
<div class="jumbotron">
  <h1 class="text-center">Education</h1>
  <h3 class="text-center">Teaching, mentoring, oversea, scholarship and outreach</h3>
</div>

<div class="row">
  <div class="col-md-3">  
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a data-toggle="pill" href="#summer-school">Summer school</a></li>
      <li><a data-toggle="pill" href="#teaching">Teaching</a></li>
      <li><a data-toggle="pill" href="#mentoring">Mentoring</a></li>
      <li><a data-toggle="pill" href="#oversea">Oversea</a></li>
      <li><a data-toggle="pill" href="#scholarship">Scholarships</a></li>
      <li><a data-toggle="pill" href="#outreach">Outreach</a></li>
    </ul>
  </div>

  <div class="col-md-9">  
    <div class="tab-content">
      <div id="summer-school" class="tab-pane fade in active">
	{% capture my_include %}{% include_relative school.md %}{% endcapture %}
	{{ my_include | markdownify }}
      </div>
      <div id="teaching" class="tab-pane fade">
	{% capture my_include %}{% include_relative /teaching.md %}{% endcapture %}
	{{ my_include | markdownify }}
      </div>
      <div id="mentoring" class="tab-pane fade">
	{% capture my_include %}{% include_relative /mentoring.md %}{% endcapture %}
	{{ my_include | markdownify }}
      </div>
      <div id="oversea" class="tab-pane fade">
	{% capture my_include %}{% include_relative /oversea.md %}{% endcapture %}
	{{ my_include | markdownify }}
      </div>
      <div id="scholarship" class="tab-pane fade">
	{% capture my_include %}{% include_relative /scholarship.md %}{% endcapture %}
	{{ my_include | markdownify }}
      </div>
      <div id="outreach" class="tab-pane fade">
	{% capture my_include %}{% include_relative /outreach.md %}{% endcapture %}
	{{ my_include | markdownify }}
      </div>
    </div>
  </div>
</div>
